.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 1147px;
    height: 637px;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    /*margin: 15% auto;*/
    /*padding: 20px;*/
    /*border: 1px solid #888;*/
    width: 600px;
    height: 300px;
    border-radius: 15px;
    margin: 12.5% auto;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}