.navbar-container {
    width: 195px;
    background: #f0f0f0;
    border-radius: 8.5px 0 0 0;
}

.category-container {
    
    margin-top: 23px;
    margin-left: 22px;
    width: 135px;
    height: 638px;
    background: #fff;
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
}

.category-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.category-icon img {
    width: 56.25px;
    height: 56.29px;
    margin:0;
}

.category-icon p {
    font-size: 18px;
    font-weight: bold;
    color: #656565;
    margin: 0;
}